<!--<div class="mb-3 d-flex flex-column">
<label for="timezone" class="form-label">{L_BOARD_TIMEZONE}</label>
		<select name="tz_date" id="tz_date" class="w-100 mb-1">
			<option value="">{L_SELECT_CURRENT_TIME}</option>
				<option value="{timezone_date.VALUE}" selected="selected">{timezone_date.TITLE}</option>
		</select>
		<input type="button" id="tz_select_date_suggest" class="btn btn-secondary mb-1" style="display: none;" timezone-preselect="truefalse" data-l-suggestion="{L_TIMEZONE_DATE_SUGGESTION}" value="{L_TIMEZONE_DATE_SUGGESTION}" />
	</dd>
		<select name="tz" id="timezone" class="w-100">
			<option value="">{L_SELECT_TIMEZONE}</option>
			<optgroup label="{timezone_select.LABEL}" data-tz-value="{timezone_select.VALUE}">
				<option title="{timezone_select.timezone_options.TITLE}" value="{timezone_select.timezone_options.VALUE}" selected="selected">{timezone_select.timezone_options.LABEL}</option>
			</optgroup>
		</select>

</div>-->